body {
    /* background-color: powderblue;*/
    /* text-align: center;*/

}

h1 {
    color: blue;
}

p {
    color: red;
}

nav {
    text-align: center;
}

#firtparagraphe {
    text-align: justify;
    color: blueviolet;
}

thead {
    color: green;
}

tbody {
    color: blue;
}

tfoot {
    color: red;
}

table,
th,
td {
    border: 1px solid black;
}

form {
    border: 1px solid black;
    border-radius: 50% 20% / 10% 40%;

    width: 350px;

    height: auto;

    position: absolute;

    left: 50%;

    top: 50%;
    padding: 60px;

    transform: translate(-50%, -50%);

    -webkit-transform: translate(-50%, -50%);
    box-shadow: 10px 5px 5px red;
}

.center {
    margin-left: auto;
    margin-right: auto;
}